{% extends "base.html" %}
{% block content %}
<table>
    <tr>
        <th>Name</th>
        <td>|</td>
        <th>Score</th>

        <td>
            <form method="POST" action="/teams">
                <label for="name">Team name:</label>
                <input type="text" id="name" name="name" value="{{team.name}}"><br><br>
                <label for="points">Score:</label>
                <input type="number" id="points" name="points" value="{{team.points}}" step=0.01><br><br>
                <input type="submit" value="Submit">
              </form>
    </tr>

    </tr>

</table>
{% endblock %}