body {
  background: repeating-linear-gradient(
      67deg,
      #606dbc,
      #606dbc 10px,
      #ff00b3 300px,
      #00ff88 300px
    );
    color: white;
}

header {
  color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1 { 
  font-size: 5em;
  color:white ;
}

header h2 { 
  font-size: 2em;
  color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
  color: #00ff88;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button{
  background-color:midnightblue;
  text-align: center;
  color:mintcream;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

table {
  color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type=submit]{
  background-color:midnightblue;
  text-align: center;
  color:mintcream;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

select{
  background-color:midnightblue;
  text-align: center;
  color:mintcream;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}