{% extends "base.html" %}
{% block content %}
<table>
    <tr>
        <td>
            <form method="POST" action="/contestants/{{contestant.id}}/edit">
                <label for="name">Contestant name:</label>
                <input type="text" id="name" name="name" value="{{contestant.name}}">
                <label for="occupation">Occupation:</label>
                <input type="text" id="occupation" name="occupation" value="{{contestant.occupation}}">
                <label for="fave_phrase">Favourite Phrase:</label>
                <input type="text" id="fave_phrase" name="fave_phrase" value="{{contestant.fave_phrase}}">
                <label for="Team">Team:</label>
                <select name="team_id" id="team_id">
                    {% for team in teams %}
                    <option value="{{team.id}}">{{team.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit">
              </form>
    </tr>
</table>
{% endblock %}