{% extends "base.html" %}
{% block content %}

<body>
    <h2>CONTESTANTS</h2>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Occupation</th>
            <th>Favourite Phrase</th>
            <th>Team</th>
        </tr>
        {% for contestant in contestants %}
        <tr>
            <td><a href="/contestants/{{contestant.id}}/edit">{{contestant.name}}</td>
            <td>{{contestant.occupation}}</td>
            <td>{{contestant.fave_phrase}}</td>   
            <td>{{contestant.team.name}}</td>
            <td><form class="delete-form" action="/contestants/{{contestant.id}}/delete" method="POST">
                <button class="trash-button">Delete</button></td>
            </form>
        </tr>
        </td>

        

        </tr>
        {% endfor %}
    </table>
    <button><a href="/contestants/new">Add Contestant</a></button>
</body>
{% endblock %}